<!-- <div class="row">
  <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{model}}</h3>
          </div>
          <div class="panel-body">    
              <div #formcontainer></div>
          </div>
          <div class="panel-footer">
              <div class="btn-group">
                  <button  class="btn btn-primary">Submit</button>                  
                </div>
                <div class="btn-group">                   
                    <button  class="btn btn-warning">Cancel</button>
                  </div>
          </div>
        </div>
  </div>
</div> -->

  <div #formcontainer></div>