<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
     <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active treeview menu-open">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a class="active"  routerLink='dashboard'><i class="fa fa-circle-o"></i> Dashboard</a></li>
          <li><a routerLink='report'><i class="fa fa-circle-o"></i> Report</a></li>
        </ul>
      </li>      
    
      <li class="treeview">
        <a href="#">
          <i class="fa fa-legal"></i>
          <span>Contract</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a class="active"  routerLink='contract'><i class="fa fa-circle-o"></i> Contract</a></li>
          <li><a routerLink='tenant'><i class="fa fa-circle-o"></i> Tenant</a></li>
          <li><a routerLink='payment'><i class="fa fa-circle-o"></i> Payment</a></li>
          <li><a a routerLink='application'><i class="fa fa-circle-o"></i> Application</a></li>          
        </ul>
      </li>
      <li class="treeview">
          <a href="#">
            <i class="fa fa-umbrella"></i>
            <span>Room</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a class="active"  routerLink='room'><i class="fa fa-circle-o"></i> Room</a></li>
            <li><a routerLink='block'><i class="fa fa-circle-o"></i> Block</a></li>
            <li><a routerLink='floor'><i class="fa fa-circle-o"></i> Floor</a></li>                   
          </ul>
        </li>
        <li class="treeview">
            <a href="#">
              <i class="fa fa-user"></i>
              <span>Admin</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a class="active"  routerLink='user'><i class="fa fa-circle-o"></i> User</a></li>
              <li><a routerLink='role'><i class="fa fa-circle-o"></i> Role</a></li>
              <li><a routerLink='permission'><i class="fa fa-circle-o"></i> Permission</a></li>                   
            </ul>
          </li>
          <li class="treeview">
              <a href="#">
                <i class="fa fa-gears"></i>
                <span>Config</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a class="active"  routerLink='permission'><i class="fa fa-circle-o"></i> configuration</a></li>                                 
              </ul>
            </li>     
    </ul>    
    <!-- Profile preview component -->
    <div class="box box-default">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="../assets/dist/img/user4-128x128.jpg" alt="User profile picture">
          <h3 class="profile-username text-center">Nina Mcintire</h3>
              <p class="text-muted text-center">Software Engineer</p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Followers</b> <a href="/" class="pull-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right">13,287</a>
                </li>
              </ul>          
        </div>
    </div>
   </section>
  <!-- /.sidebar -->
</aside>
