<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
     <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview menu-open">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink='dashboard' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-circle-o"></i> Dashboard</a></li>
          <li><a routerLink='report' routerLinkActive="active"><i class="fa fa-circle-o"></i> Report</a></li>
        </ul>
      </li>      
    
      <li class="treeview">
        <a href="#">
          <i class="fa fa-legal"></i>
          <span>Contract</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink='search/contract' routerLinkActive="active"  [style.color] ="activeLinkColor('/search/contract')"><i class="fa fa-circle-o"></i> Contract</a></li>
          <li><a routerLink='search/tenant'  routerLinkActive="active"  [style.color] ="activeLinkColor('/search/tenant')"><i class="fa fa-circle-o"></i> Tenant</a></li>
          <li><a routerLink='search/payment'  routerLinkActive="active"  [style.color] ="activeLinkColor('/search/payment')"><i class="fa fa-circle-o"></i> Payment</a></li>
          <li><a routerLink='search/application'  routerLinkActive="active"  [style.color] ="activeLinkColor('/search/application')"><i class="fa fa-circle-o"></i> Application</a></li>          
        </ul>
      </li>
      <li class="treeview">
          <a href="#">
            <i class="fa fa-umbrella"></i>
            <span>Room</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink='search/room' routerLinkActive="active"  [style.color] ="activeLinkColor('/search/room')"><i class="fa fa-circle-o"></i> Room</a></li>
            <li><a routerLink='search/book' routerLinkActive="active"  [style.color] ="activeLinkColor('/search/book')"><i class="fa fa-circle-o"></i> Book</a></li>
            <li><a routerLink='search/floor' routerLinkActive="active"  [style.color] ="activeLinkColor('/search/floor')"><i class="fa fa-circle-o"></i> Floor</a></li>                   
          </ul>
        </li>
        <li class="treeview">
            <a href="#">
              <i class="fa fa-user"></i>
              <span>Admin</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a routerLink='search/user' routerLinkActive="active"  [style.color] ="activeLinkColor('/search/user')"><i class="fa fa-circle-o"></i> User</a></li>
              <li><a routerLink='search/role' routerLinkActive="active"  [style.color] ="activeLinkColor('/search/role')"><i class="fa fa-circle-o"></i> Role</a></li>
              <li><a routerLink='search/permission'  routerLinkActive="active"  [style.color] ="activeLinkColor('/search/permission')"><i class="fa fa-circle-o"></i> Permission</a></li>                   
            </ul>
          </li>
          <li class="treeview">
              <a href="#">
                <i class="fa fa-gears"></i>
                <span>Config</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a  routerLink='search/permission' [style.color] ="activeLinkColor('/search/permission')" routerLinkActive="active"><i class="fa fa-circle-o"></i> configuration</a></li>                                 
              </ul>
            </li>     
    </ul>    
    <!-- Profile preview component -->  
   </section>
  <!-- /.sidebar -->
</aside>
